<nav class="navbar navbar-light bg-light">
  <div class="container">
    <span class="navbar-brand display-h1 text-danger">Buscador de videos de Youtube</span>
  </div>
</nav>

<div class="container my-3">
  <div class="col-12">
    <label class="form-label" for="channelName">Título del video: </label>
    <input #videoName class="form-control" type="text" placeholder="" required>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" (click)="getData()">Buscar</button>
  </div>
</div>

<div class="container">
  <hr>
  <div class="row my-2 g-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <div class="col" *ngFor="let video of videos">
      <div class="card h-100">
        <div class="ratio ratio-4x3">
          <a type="_blank" href="https://www.youtube.com/watch?v={{video.id.videoId}}">
            <img class="img-thumbnail" src="{{video.snippet.thumbnails.medium.url}}">
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title text-truncate">{{video.snippet.channelTitle}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

